# ready

In [1]:
from handler_raw_complaints import create_basic_complaints 

from handler_demographic import merge_demographic 
from handler_GIS_demographic import build_GIS_demographic_data
from handler_GIS_buslines_jerusalem import make_jlm_metro_routes
from handler_rishui import rishui_resolutions, passengers_resolutions, ebitzua_resolutions
from handler_socioeconomic_ranking import calculate_socio_econimoc_lines
from handler_service_areas import create_service_areas_resolutions
from handler_complaints import complaints_resolutions
from general_functions import prepare_data_to_directness_analysis, create_directness
from handler_merger_export import merge_and_export

## use arcgis pro kernel

In [2]:
# process raw complaints, not to regular run
# create_basic_complaints()

 # union socioeconomic data per statistical area 
demographic_table=merge_demographic() 

# add geographic locations to demofraphic table
build_GIS_demographic_data()

#create geographic layer of bus lines in research area
bus_lines_jlm=make_jlm_metro_routes()

# add license details for each bus line in each resolution\
#  (line-direction-alternative-day period,line-direction-alternative,line-direction)
rishui_res12, rishui_res3=rishui_resolutions(bus_lines_jlm)

#calculate socio economic ranking per bus line
socio_eco_res_12, socio_eco_res3=calculate_socio_econimoc_lines(bus_lines_jlm)

#determine wether bus line serves west bank settlements, west metropolitan area, city of jerusalem, or east jerusalem
service_areas_res12, service_areas_res3=create_service_areas_resolutions(rishui_res12)

#calculate number of passengers per bus line
passengers_res12, passengers_res3=passengers_resolutions()

#calculate percent of non-execution trips per bus line
ebitzua_res1, ebitzua_res2, ebitzua_res3=ebitzua_resolutions()

# sum number of complaints per bus line
complaints_res1,complaints_res2, complaints_res3=complaints_resolutions()

#calculate direcntess mesurement per bus line (the compelete analisys was made in a different file)
prepare_data_to_directness_analysis()

directness_res12, directness_res3=create_directness()

#merge dfs based on resolution, and export to csvs
res1_dfs=[rishui_res12[['makat', 'type']],passengers_res12,directness_res12[['route_desc', 'directness']],
         socio_eco_res_12 ,service_areas_res12]


res2_dfs=[rishui_res12[['makat', 'type']],passengers_res12,ebitzua_res2,socio_eco_res_12,
        directness_res12[['route_desc', 'directness']],service_areas_res12, complaints_res2]

res3_dfs=[rishui_res3[['routeid_direction', 'type']],passengers_res3,ebitzua_res3,
            directness_res3,service_areas_res3,socio_eco_res3, complaints_res3]


r1, r2, r3=merge_and_export(res1_dfs,res2_dfs,res3_dfs,ebitzua_res1,complaints_res1)

statistical areas with demographic date is printed
rishui data res12 is printed
rishui data res3 is printed
sosio economic ranking printed
service areas are printed
passengers numbers per line are printed
e-bitua data printed
scomplaints data printed
pre directness analysis complete
res1 exported
res2 exported
res3 exported

In [2]:
# from handler_directness import create_directness_measurement
# create_directness_measurement()

In [4]:
r3

,routeid_direction,service_types,passengersnumber_thousands,percent_problematic_trips,Directness_measurements,Settlements_lines,West_metropolin_lines,East_JLM_lines,InJerusalem_lines,socioeco_2019,updated_ultraorthodox_percent,number_of_complaints
0,10102-1,3,0.017,0.00,0.620,0,0,0.0,1,2.000,13.03,3.0
1,10102-2,3,0.140,0.00,0.580,0,0,0.0,1,2.000,48.16,1.0
2,10104-1,3,0.183,0.00,0.350,0,1,0.0,0,2.110,46.47,0.0
3,10104-2,3,0.006,0.00,0.490,0,1,0.0,0,7.090,7.27,0.0
4,10105-1,3,0.135,0.00,0.675,1,0,0.0,0,2.045,59.09,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...
530,59015-1,3,22.701,0.15,0.680,0,0,0.0,1,2.000,64.21,58.0
531,59015-2,3,24.457,0.28,0.680,0,0,0.0,1,2.000,10.48,19.0
532,64080-3,3,0.301,0.00,0.680,0,0,0.0,1,2.000,1.69,3.0
533,70004-2,3,0.158,0.00,0.570,0,0,0.0,1,2.000,17.19,1.0
534,92002-3,3,6.353,2.80,0.910,0,0,0.0,1,2.000,2.81,15.0

In [5]:
r1

,makat,service_types,passengersnumber_thousands,Directness_measurements,socioeco_2019,updated_ultraorthodox_percent,Settlements_lines,West_metropolin_lines,East_JLM_lines,InJerusalem_lines,day_period,percent_problematic_trips,number_of_complaints
0,12035-2-ב,3,7.726,0.41,2.0,37.40,0,0,0,1,2,0.00,1.0
1,12035-2-ב,3,7.726,0.41,2.0,37.40,0,0,0,1,1,0.00,2.0
2,12035-2-ב,3,7.726,0.41,2.0,37.40,0,0,0,1,3,0.00,1.0
3,14023-3-#,3,10.446,0.42,2.0,53.38,0,0,0,1,2,1.64,NaN
4,14023-3-#,3,10.446,0.42,2.0,53.38,0,0,0,1,1,0.00,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1945,10214-3-2,3,0.054,0.97,2.0,0.00,0,0,1,0,1,55.56,NaN
1946,10214-3-2,3,0.054,0.97,2.0,0.00,0,0,1,0,3,62.50,NaN
1947,10213-3-#,3,0.249,0.02,2.0,0.00,0,0,1,1,2,33.33,NaN
1948,10213-3-#,3,0.249,0.02,2.0,0.00,0,0,1,1,1,33.33,2.0
1949,10213-3-#,3,0.249,0.02,2.0,0.00,0,0,1,1,3,41.67,NaN

In [8]:
import pandas as pd
res1_old=pd.read_csv("C:\\thesis\\gis\\scripts\\Question1\\saved_steps\\res1.csv")

In [9]:
res1_old

,makat,day_period,East_JLM_lines,service_types,Socioeconomic_ranking,Ultraorthodox_buses,Directness_measurements,Settlements_lines,West_metropolin_lines,InJerusalem_lines,percent_problematic_trips,number_of_complaints,passengersnumber_thousands
0,12035-2-ב,1,0,3,4.88,37.40,0.41,0,0,1,0.00,2.0,7.726
1,12035-2-ב,2,0,3,4.88,37.40,0.41,0,0,1,0.00,1.0,7.726
2,12035-2-ב,3,0,3,4.88,37.40,0.41,0,0,1,0.00,1.0,7.726
3,14023-3-#,1,0,3,3.37,53.38,0.42,0,0,1,0.00,2.0,10.446
4,14023-3-#,2,0,3,3.37,53.38,0.42,0,0,1,1.64,0.0,10.446
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1942,10214-3-2,2,1,3,1.00,0.00,0.97,0,0,0,20.00,0.0,0.054
1943,10214-3-2,3,1,3,1.00,0.00,0.97,0,0,0,62.50,0.0,0.054
1944,10213-3-#,1,1,3,1.00,0.00,0.02,0,0,1,33.33,2.0,0.249
1945,10213-3-#,2,1,3,1.00,0.00,0.02,0,0,1,33.33,0.0,0.249
1946,10213-3-#,3,1,3,1.00,0.00,0.02,0,0,1,41.67,0.0,0.249

In [15]:
x=r1.groupby(['makat'], as_index=False)['day_period'].count().sort_values(by='day_period')

In [16]:
y=res1_old.groupby(['makat'], as_index=False)['day_period'].count().sort_values(by='day_period')